<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,PostgreSQLDialect,MySQLDialect,DerbyDialect-->
	<plugins>
		<plugin interceptor="com.newsoft.common.mybatis.OffsetLimitInterceptor">
		    <!-- 
			<property name="dialectKey" value="jdbc.dialect" />
			<property name="propertyFilePath" value="/system.properties"/>
			-->
		</plugin>
	</plugins>
</configuration>
