<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="clearDirtyAttachTask"
		class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
		<property name="targetObject" ref="clearDirtyAttachTimer" />
		<property name="targetMethod" value="clearDirtyAttach" />
	</bean>

	<bean id="runclearDirtyAttachTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<ref bean="clearDirtyAttachTask" />
		</property>
		<property name="period">
			<value>100000000</value>
		</property>
		<property name="delay">
			<value>1000000</value>
		</property>
	</bean>
	
	
	<!-- 定时执行 -->
	<bean id="timerFactoryBean"
		class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<!-- <ref bean="runclearDirtyAttachTask" /> -->
			</list>
		</property>
	</bean>

</beans>
